* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #000000;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.541);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

header .container {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .container h1 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
  padding: 5px 12px;
  margin-right: 2%;
  cursor: pointer;
  color: #fcfcff;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

header nav li {
  margin: 0 12px;
  font-family: "Kanit", sans-serif;
  font-weight: 300;
}

header nav li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

header nav li a:hover {
  text-decoration: underline;
  text-decoration-color: #07a7e0;
}

header .btn-start {
  display: flex;
  gap: 10px;
}

.btn-start button {
  background: none;
  color: #fff;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-start button:hover {
  color: #ffffff;
  background-color: #07a7e0;
}

section#home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0;
  height: 96vh;
  color: #fff;
  background-image: 
      linear-gradient(to bottom, transparent 50%, #000000 80%), 
      linear-gradient(to left, transparent 50%, #000000af 80%),
      url('img/photorealistic-earth-planet.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  margin: 0;
  overflow: hidden;
}

section#home .information {
  max-width: 800px;
  z-index: 2;
  margin-left: 5%;
}

section#home .information h1 {
  font-size: 2.0rem;
  margin-bottom: 20px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

section#home .information p {
  font-size: 1.0rem;
  line-height: 1.3;
  font-family: "Plus Jakarta Sans", serif;
  font-optical-sizing: auto;
  color: #fcfcff;
}

section#home .btn-start {
  margin-top: 20px;
}

/*section about*/

section#about {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  background-image: 
      linear-gradient(to top, transparent 50%, #000000 100%), 
      linear-gradient(to right, transparent 72%, #000000 100%),
      url('img/blue-wavy-light-streak-backgroundd.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  margin: 0;
}

.container-prod {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  padding-top: 0;
  margin-top: -180px;
  position: relative;
}

.caixa {
  background: rgba(0, 0, 0, 0.658);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(33.333% - 30px); 
  max-width: 300px;
  box-sizing: border-box;
  
}

.caixa-1 {
  border-top-left-radius: 8px;
  border-top: 1px solid #07a7e0; 
  border-left: 1px solid #07a7e0;
  box-shadow: -9px -10px 10px rgba(121, 184, 255, 0.123);
}

.caixa-2 {
  border-bottom: 1px solid #07a7e0; 
  border-right: 1px solid #07a7e0;
  box-shadow: 9px 10px 10px rgba(121, 184, 255, 0.123);
  border-bottom-right-radius: 8px;
}



.caixa-3 {
  border-top-right-radius: 8px;
  border-top: 1px solid #07a7e0;
  border-right: 1px solid #07a7e0;
  box-shadow: 10px -10px 10px rgba(121, 184, 255, 0.123);
}

.content {
  padding: 15px;
  text-align: center;
}


.content .des {
  font-size: 0.8rem;
  color: #777777;
  margin-bottom: 10px;
  font-family: "Plus Jakarta Sans", serif;
}

.icon {
  font-size: 20px; 
}

.icon-small {
  font-size: 15%; 
}

.icon img {
  width: 20%;
  height: auto;
  
}

.icon-small img {
  width: 25%; 
}

/*sat section*/


section#satellite {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  background-image: 
      linear-gradient(to top, transparent 50%, #000000 80%), 
      linear-gradient(to right, transparent 72%, #000000 100%),
      url('img/blue-wavy-light-streak-backgroun-esp.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}
.Goes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-top: -120px;
  position: relative; 
  padding: 0;
  margin-left: 5%;
}


.cont-sat {
  border-top: 1px solid #07a7e0; 
  border-left: 1px solid #07a7e0;
  box-shadow: -9px -10px 10px rgba(121, 184, 255, 0.123);
  padding: 30px;
  margin-top: 10px;
}


section#satellite .Goes h1 {
  color: #fcfcff;
  padding-bottom: 30px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: lighter;
}


section#satellite .Goes .img-st {
  margin-top: 100px;
  border-bottom: 1px solid #07a7e0; 
  border-right: 1px solid #07a7e0;
  box-shadow: 9px 10px 10px rgba(121, 184, 255, 0.123);
  padding-left: 30px;
  padding-bottom: 10px;
}


section#satellite .Goes p {
  color: #777777;
  max-width: 400px;
  font-family: "Plus Jakarta Sans", serif;
}


section#satellite .Goes img {
  width: 500px;
}


section#satellite .Goes .img-st {
  border-bottom: 1px solid #07a7e0; 
  border-right: 1px solid #07a7e0;
  box-shadow: 9px 10px 10px rgba(121, 184, 255, 0.123);
  padding-right: 30px;
  padding-bottom: 20px;
}






































@media (max-width: 1024px) {
  section#home {
      padding: 10px 5px;
      height: 50vh;
  }

  section#home .information {
      margin-left: 0;
  }

  section#home .information h1 {
      font-size: 1.5rem;
  }

  section#home .information p {
      font-size: 0.9rem;
  }
  .container-prod {
    padding: 0 15px;
    margin-top: -100px; 
    height: auto; 
  }
}


@media (max-width: 768px) {
  section#home {
      padding: 10px 5px;
      height: 40vh;
  }

  section#home .information h1 {
      font-size: 1.2rem;
  }

  section#home .information p {
      font-size: 0.8rem;
  }


  .container-prod {
    padding: 0 5px;
    margin-top: -60px; 
    height: auto; 
  }
  
  .caixa {
    width: calc(50% - 20px); 
  }



    .Goes {
      flex-direction: column;
      margin-left: 0;
      gap: 20px; 
    }
  
    section#satellite .Goes img {
      width: 100%; 
      max-width: 100%; 
    }
  
    section#satellite .Goes .img-st {
      margin-top: 50px; 
      padding-left: 15px; 
      padding-bottom: 15px; 
    }
  
    section#satellite .Goes p {
      max-width: 100%; 
    }
  }
  

@media (max-width: 480px) {
  section#home {
      padding: 5px 2px;
      height: 30vh;
  }

  section#home .information h1 {
      font-size: 1rem;
  }

  section#home .information p {
      font-size: 0.7rem;
  }

  .container-prod {
    padding: 0 5px;
    margin-top: -60px; 
    height: auto; 
  }

  .caixa {
    width: 100%; 
  }

  section#satellite .Goes h1 {
    font-size: 1.5em; 
  }

  section#satellite .Goes .img-st {
    margin-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
  }
}
